doctype html  
html(lang='en')  
 head
   title MiniTp ServerWeb
   head
    style
      include style.css
 body
   h5 Voici le contenu de la table : #{tableName}
   div.container
     table.table 
      tr
        th Identifiant
        th Ville
      tbody
        each val in dataP
          tr
            td #{val._id}
            td #{val.name}

